.container {
  display: flex;
  justify-content: center;
  width: 970px;
  border: 5px solid black;
  margin: 0 auto;
  margin-top: 200px;
}
.abacus:not(:last-child) {
  position: relative;
  margin-right: 15px;
}

.abacus:nth-child(1) {
  background-color: #7fffd4;
}

.abacus:nth-child(2) {
  background-color: #7fffd4;
}

.abacus:nth-child(2) li:nth-child(2) {
  background-color: rgb(211, 23, 23);
}

.abacus:nth-child(3) {
  background-color: #7fffd4;
}
.abacus:nth-child(4) {
  background-color: #7fffd4;
}
.abacus:nth-child(5) {
  background-color: #7fffd4;
}

.abacus:nth-child(5) li:nth-child(2) {
  background-color: rgb(211, 23, 23);
}

.abacus:nth-child(6) {
  background-color: #7fffd4;
}
.abacus:nth-child(7) {
  background-color: #7fffd4;
}
.abacus:nth-child(8) {
  background-color: #7fffd4;
}

.abacus:nth-child(8) li:nth-child(2) {
  background-color: rgb(211, 23, 23);
}

.abacus:nth-child(9) {
  background-color: #7fffd4;
}
.abacus:nth-child(10) {
  background-color: #7fffd4;
}
.abacus:nth-child(11) {
  background-color: #7fffd4;
}

.abacus:nth-child(11) li:nth-child(2) {
  background-color: rgb(211, 23, 23);
}

.abacus:nth-child(12) {
  background-color: #7fffd4;
}

.abacus:nth-child(13) {
  background-color: #7fffd4;
}

.ellipse {
  fill: #1b201e;
}

.abacus:nth-child(2) li:nth-child(2):hover,
.abacus:nth-child(5) li:nth-child(2):hover,
.abacus:nth-child(8) li:nth-child(2):hover,
.abacus:nth-child(11) li:nth-child(2):hover,
.abacus:nth-child(2) li:nth-child(2):focus,
.abacus:nth-child(5) li:nth-child(2):focus,
.abacus:nth-child(8) li:nth-child(2):focus,
.abacus:nth-child(11) li:nth-child(2):focus {
  background-color: chartreuse;
  fill: deeppink;
}
